<template>
    <div class="content">
        <h1>Sign in</h1>
        <form
                class="add"
                method="post"
        >
            <div class="group">
                <input
                        class="add__input"
                        type="email"
                        v-model="email"
                        name="email"
                        placeholder="Enter email address..."
                        autocomplete="off"
                />
            </div>
            <div class="group">
                <input
                        class="add__input"
                        type="password"
                        v-model="password"
                        name="password"
                        placeholder="Enter password..."
                        autocomplete="off"
                />
            </div>
            <div class="group">
                <button
                        class="button button__add"
                        type="submit"
                        @click="connectUser"
                >
                    Sign in
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: 'Login',

        data() {
            return {
                email: '',
                password: '',
            }
        },

        methods: {
            ...mapActions({
                login: 'loginUser',
            }),

            connectUser: function (event) {
                event.preventDefault()

                if (this.email === '' || this.password === '') {

                    return false;
                }

                this.login({
                    email: this.email,
                    password: this.password
                })
            }
        },

        mounted() {
            if (this.$store.getters.getLoggedStatus) {
                this.$router.push('/');
            }
        }
    }
</script>