@import './components/button.scss';
@import './components/add.scss';
@import './components/header.scss';

body {
  background: #f1f1f1;
}

.content {
  margin: 0 auto;
  width: 400px;
  padding: 0;

  &__sort {
    display: flex;

    a {
      color: #41B883;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 4px;
    margin-top: 0;
  }

  &__list-item {
    width: 100%;
    display: flex;
    background: #2c3e50;
    color: #fff;
    margin: 4px 0 4px 0;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    line-height: 30px;
    align-items: center;

    &:hover {
      background: #41B883;
      -webkit-transition: background 0.5s;
      transition: background 0.5s;
    }

    &__status {
      background-color: #41B883;
      padding: 7px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &__title {
      color: #fff;
      padding: 7px;
    }

    &__email {
      font-size: 12px;
      width: 100%;
      text-align: left;
    }

    &__delete {
      font-size: 16px;
    }
  }

  &__edit-box {
    background: #2c3e50;
    padding: 4px;
    width: 100%;
  }
}

.display-none {
  display: none;
}

.text-align-left {
  text-align: left;
}

.clearfix {
  clear: both;
}