<template>
    <div class="content">
        <h1>Sign up</h1>
        <form
                class="add"
                method="post"
        >
            <div class="group">
                <div class="add--error" v-if="status && status !== 'CREATED'">
                    {{checkStatus}}
                </div>
                <div class="add--success" v-if="status === 'CREATED'">
                    Vartotojas sukurtas!
                </div>
            </div>
            <div class="group">
                <input
                        class="add__input"
                        type="text"
                        v-model="username"
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                />
            </div>
            <div class="group">
                <input
                        class="add__input"
                        type="email"
                        v-model="email"
                        name="email"
                        placeholder="Enter email address..."
                />
            </div>
            <div class="group">
                <input
                        class="add__input"
                        type="password"
                        v-model="password"
                        name="password"
                        placeholder="Enter password..."
                />
                <span class="add--error" v-if="message.password">
                    {{message.password}}
                </span>
            </div>
            <div class="group">
                <select
                        class="add__input-select"
                        v-model="role"
                        name="role"
                        id="role"
                >
                    <option value="user">
                        User
                    </option>
                    <option value="admin">
                        Admin
                    </option>
                </select>
            </div>
            <div class="group">
                <button
                        class="button button__add"
                        type="submit"
                        @click="addUser"
                >
                    Create user
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: 'Register',

        data() {
            return {
                username: '',
                email: '',
                password: '',
                role: 'user',
                passwordLength: 5,
                message: []
            }
        },

        computed: {
            ...mapState({status: state => state.Users.userStatus}),

            checkStatus() {
                if (this.status === 'USER_EXISTS') {
                    return 'User already exists!'
                } else if (this.status === 'CREATED') {
                    return 'User succesful created!'
                } else {
                    return 'Error! Try again later...'
                }
            }
        },

        watch: {
            password(value) {
                this.password = value
                this.validatePassword(value)
            }
        },

        methods: {
            ...mapActions({
                create: 'createUser',
            }),

            validatePassword: function (value) {
                if (value.length < this.passwordLength) {
                    return this.message['password'] = 'User password too short. Minimum 5 symbols!'
                }

                return this.message['password'] = ''
            },

            addUser: function (event) {
                event.preventDefault();

                if (this.username === ''
                    || this.email === ''
                    || this.password === ''
                    || this.password.length < this.passwordLength
                ) {
                    return false;
                }

                this.create({
                    username: this.username,
                    email: this.email,
                    password: this.password,
                    role: this.role
                });

                this.username = '';
                this.email = '';
                this.role = 'user';
            }
        },

        mounted() {
            if (this.$store.getters.getLoggedStatus) {
                this.$router.push('/');
            }
        }
    }
</script>