.add {
  display: flex;
  flex-direction: column;
  padding: 4px;
  box-sizing: border-box;

  .group {
    display: block;
    width: 100%;
    padding-bottom: 4px;
  }

  &__input {
    width: 100%;
    outline: none;
    color: #2c3e50;
    border: 0;
    height: 30px;
    box-sizing: border-box;
    padding: 10px;
  }

  &__input-select {
    width: 100%;
    outline: none;
    color: #2c3e50;
    border: 0;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    
    &:after {
      background: #000;
    }
  }

  &--error {
    font-size: 12px;
    color: red;
    padding: 10px 0 10px 0;
  }

  &--success {
    font-size: 12px;
    color: #41B883;
    padding: 10px 0 10px 0;
  }
}