.button {
  background: #41B883;
  color: #fff;
  border: 0;
  outline: none;
  padding: 8px;
  margin: 4px;
  cursor: pointer;

  &:hover {
    background: #398e62;
  }

  &--dark {
    background: #2c3e50;

    &:hover {
      background: #2c3e50;
      opacity: 0.8;
    }
  }

  &__add {
    padding: 10px;
    margin: 0 0 2px 0;
  }

  &__delete {
    padding: 10px;
    margin: 0 0 2px 0;
    background: #ff4646;

    &:hover {
      background: #ff4646;
      opacity: 0.9;
    }
  }

  &__close {
    background: transparent;
    font-size: 12px;
    text-transform: uppercase;
    float: right;

    &:hover {
      background: transparent;
    }
  }
}