.header {
  margin: 0 auto;

  &__title {
    color: #222;
    text-align: center;
  }

  &__nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    .list {
      display: flex;
      list-style: none;
      padding: 0;

      li {
        padding: 10px;
      }
    }

    a {
      color: #2c3e50;
      text-decoration: none;
      padding: 4px;
      font-size: 15px;
      font-weight: 500;

      &:hover {
        color: #41B883;
      }
      &:before {
        background: green;
        padding: 100px;
      }
      &::after {
        border-right: 1px solid green;
      }
    }
  }
}