<template>
    <header class='header'>
        <h1 class='header__title'>
            HomeWork
        </h1>
        <nav class="header__nav">
            <ul class="list">
                <li>
                    <router-link :to="{path: home}">Home</router-link>
                </li>
                <li v-if="!logged">
                    <router-link :to="{path: login}">Login</router-link>
                </li>
                <li v-if="!logged">
                    <router-link :to="{path: register}">Register</router-link>
                </li>
                <li v-if="userRole === 'admin'">
                    <router-link :to="{path: admin}">Admin page</router-link>
                </li>
                <li v-if="logged">
                    <a href="#" @click="logoutUser">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import {rootRoutes} from '../../core/rootRoutes'

    export default {
        name: 'Header',

        data() {
            return {
                home: rootRoutes.home,
                login: rootRoutes.login.index,
                register: rootRoutes.login.register,
                admin: rootRoutes.admin.index,
                userRole: this.$store.getters.getUser.role
            }
        },

        computed: mapState({
            user: state => state.user,
            logged: state => state.logged
        }),

        methods: {
            ...mapActions({
                logout: 'logoutUser'
            }),

            logoutUser: function() {
                if (this.logged) {
                    this.logout()
                }
            }
        },

        watch: {
            logged() {
                if (this.logged) {
                    this.userRole = this.user.role
                }
            }
        }
    }
</script>