<template>
    <div id="app">
        <Header/>
        <main>
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import Header from './components/Header/Header'

    export default {
        name: 'App',

        components: {
            Header
        },

        methods: {
            ...mapActions({
                setLogged: 'setUser',
            }),

            checkIfLogged() {
                const loggedData = JSON.parse(localStorage.getItem('User'))

                if (loggedData.logged) {
                    this.setLogged(loggedData.user)
                }
            }
        },

        created() {
            this.checkIfLogged()
        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
