<template>
    <form
            class="add"
            method="post"
    >
        <div class="group">
            <input
                    class="add__input"
                    type="text"
                    v-model="task"
                    name="task"
                    id="task"
                    placeholder="Add task..."
            />
        </div>
        <div class="group">
            <select
                    class="add__input-select"
                    v-model="user"
                    name="user"
                    id="user"
            >
                <option
                        v-for="(user, index) in users"
                        v-bind:key="index"
                        v-bind:value="user.id"
                >
                    {{user.email}}
                </option>
            </select>
        </div>
        <div class="group">
            <button
                    class="button button__add"
                    type="submit"
                    @click="addTask"
            >
                Add task
            </button>
        </div>
    </form>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: 'AddTodo',

        data() {
            return {
                task: '',
                user: '',
                status: ''
            }
        },

        computed: mapState({
            users: state => state.Users.users
        }),

        methods: {
            ...mapActions({
                create: 'addTodo',
                getList: 'getUsers'
            }),

            addTask: function (event) {
                event.preventDefault();

                if (this.task === '' || this.user === '') {
                    return false;
                }

                this.create({
                    task: this.task,
                    user: this.user,
                    status: 'todo'
                });

                this.task = '';
                this.user = '';
            },
        },

        created () {
            this.getList()
        }
    }
</script>