<template>
    <ul class="content__list" v-if="logged">
        <li
                class="content__list-item"
                v-for="(todo, index) in todos"
                v-bind:key="index"
        >
            <span class="content__list-item__status" @click="openOptions(todo, index)">
                    <div :id="'status-'+index">
                        {{todo.status}}
                            <form class="add" v-if="selectedItem === index && editing">
                                <div class="group">
                                    <select
                                            class="add__input-select"
                                            name="status"
                                            id="status"
                                            v-model="status"
                                            v-on:change="changeStatus(todo)"
                                    >
                                        <option value="todo">
                                            To do
                                        </option>
                                        <option value="progress">
                                            In progress
                                        </option>
                                        <option value="done">
                                            Done
                                        </option>
                                    </select>
                                </div>
                            </form>
                            <div v-else></div>
                    </div>
                </span>
            <span class="content__list-item__title">
                    {{todo.task}}
                </span>
        </li>
    </ul>
    <div v-else>
        Try again later... Or try sign in!
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: 'TodosList',

        data() {
            return {
                todoList: this.todos,
                status: 'todo',
                selectedItem: null,
                editing: false,
            }
        },

        computed: {
            ...mapState({
                todos: state => state.Todos.todos,
                logged: state => state.logged
            }),
        },

        methods: {
            ...mapActions({
                getListForDisplay: 'getTodos',
                update: 'setProgressStatus',
            }),

            openOptions: function (todo, index) {
                if (this.selectedItem === index) {
                    return false;
                }

                this.selectedItem = index;
                this.status = todo.status;
                this.editing = true;
            },

            changeStatus: function (todo) {
                this.editing = false;
                this.update({
                    id: todo.id,
                    user_id: todo.user_id,
                    status: this.status,
                })
            }
        },

        watch: {
            editing() {
                if (!this.editing) {
                    this.selectedItem = null
                }
            }
        }
    }
</script>