<template>
    <div class="content" v-if="logged">
        <h1>Todo list</h1>
        <div class="content__sort">
            <button
                    class="button"
                    type="button"
                    @click="sortByStatus('all')"
            >
                All
            </button>
            <button
                    class="button"
                    type="button"
                    @click="sortByStatus('todo')"
            >
                To do
            </button>
            <button
                    class="button"
                    type="button"
                    @click="sortByStatus('progress')"
            >
                In progress
            </button>
            <button
                    class="button"
                    type="button"
                    @click="sortByStatus('done')"
            >
                Done
            </button>
            <button
                    class="button button--dark"
                    type="button"
                    @click="orderByDate"
            >
                Order by date
            </button>
        </div>
        <TodosList></TodosList>
    </div>
</template>
<script>
    import {mapState, mapActions} from 'vuex'
    import TodosList from './TodosList'

    export default {
        name: 'Todos',

        components: {
            TodosList
        },

        data() {
            return {
                todoList: [],
                status: this.$store.getters.status,
                sorting: this.$store.getters.sortBy,
                orderDate: this.$store.getters.orderBy
            }
        },

        computed: {
            ...mapState({
                logged: state => state.logged
            }),
        },

        methods: {
            ...mapActions({
                getListForDisplay: 'getTodos',
                sort: 'sortStatus',
                orderBy: 'orderTasks'
            }),

            sortByStatus: function(status) {
                this.sort(status)
            },

            orderByDate: function() {
                if (this.orderDate === 'asc') {
                    this.orderDate = 'desc';
                } else {
                    this.orderDate = 'asc';
                }

                this.orderBy(this.orderDate)
            }
        },

        created () {
            this.getListForDisplay()
        }
    }
</script>