<template>
    <div class="content" v-if="user.role === 'admin'">
        <h1>Admin Page</h1>
        <button
                class="button"
                type="button"
                @click="showUsersList"
        >
            Users List
        </button>
        <div class="clearfix"></div>
        <ul class="content__list" :class="listBox">
            <li
                    class="content__list-item"
                    v-for="(user, index) in users"
                    v-bind:key="index"
                    @click="editUser(user)"
            >
                    <span class="content__list-item__status">
                        {{user.roles}}
                    </span>
                <span class="content__list-item__title">
                        {{user.name}}
                </span>
                <span class="content__list-item__email">
                        {{user.email}}
                </span>
            </li>
        </ul>
        <div class="content__list">
            <div class="content__edit-box" v-if="showEdit && showList">
                <UserEdit :edit="userDetails" :show="showEdit"/>
            </div>
        </div>
        <AddTodo/>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import AddTodo from '../Todos/AddTodo'
    import UserEdit from "./UserEdit";

    export default {
        name: 'Admin',

        data() {
            return {
                showList: false,
                showEdit: false,
                userDetails: [],
                editBoxIndex: '',
            }
        },

        components: {
            UserEdit,
            AddTodo
        },

        computed: {
            ...mapState({
                user: state => state.user,
                users: state => state.Users.users
            }),

            listBox() {
                return [
                    this.showList ? '' : 'display-none'
                ];
            },
        },

        methods: {
            showUsersList: function() {
                this.showList = !this.showList
            },

            editUser: function(user) {
                this.showEdit = true;
                this.userDetails = user;
            }
        }
    }
</script>