<template v-if="showEdit">
    <form
            class="add"
            method="post"
            @click="saveUser"
    >
        <div class="group">
            <input
                    class="add__input"
                    type="text"
                    v-model="username"
                    name="username"
                    id="username"
                    placeholder="Enter username..."
            />
        </div>
        <div class="group">
            <select
                    class="add__input-select"
                    v-model="role"
                    name="role"
                    id="role"
            >
                <option value="user">
                    User
                </option>
                <option value="admin">
                    Admin
                </option>
            </select>
        </div>
        <div class="group text-align-left">
            <button
                    class="button button__add"
                    type="submit"
            >
                Save user
            </button>
            <button
                    class="button button__delete"
                    type="button"
                    @click="deleteUser"
            >
                Delete user
            </button>
        </div>
    </form>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
        name: 'UserEdit',

        props: {
            edit: Object,
            show: Boolean
        },

        data() {
            return {
                username: this.edit.name,
                role: this.edit.roles,
                showEdit: this.show
            }
        },

        methods: {
            ...mapActions({
                update: 'editUser',
                delete: 'deleteUser'
            }),

            saveUser: function(event) {
                event.preventDefault();

                if (this.username === '') {
                    return false;
                }

                if (this.username !== this.edit.name) {
                    this.update({
                        user_id: this.edit.id,
                        name: this.username,
                        role: this.role
                    })
                }
            },

            deleteUser() {
                this.delete({
                    user_id: this.edit.id
                })
            }
        },

        watch: {
            edit() {
                if (this.username !== this.edit.name) {
                    this.username = this.edit.name;
                    this.role = this.edit.roles;
                }
            }
        }
    }
</script>